<a href="/detalle/ <%= plato.id %>">
<h4><%= plato.titulo%></h4>
          <p class="ps-text-grey">
            <%= plato.descripcionCorta%> - <%= plato.precio%>
          </p>
        </a>
          <br />

